<ul class='rom-list'>
	{{#each roms as |rom|}}
		<li class='rom' data-toggle='modal' data-target='{{rom.title}}modal' id='{{rom.title}}'> 
        	{{rom.prettytitle}}
        	<img class='rom-cover' src='{{rom.image}}' alt=''> {{rom-coverimg rom.title rom.console}}
       	</li>
	{{/each}}
</ul>