<div class="navbar">
    <div class='navbar-left'>
      <a href='/home'><img src='/logo.jpg' alt='logo' style='width:100%;'></a>
    </div>
    <div class="navbar-center">
    </div>
    <div class="navbar-right">
      <div class="user-text"> {{!-- {{usertype}}: {{fullName}} --}} Admin : Katie Krummeck </div>
        <button class="btn btn-block btn-lg btn-primary dashboard-button-small"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        <button class="btn btn-block btn-lg btn-primary dashboard-button-small hamburger hamburger--spin is-active" style="padding:2px" type="button" {{action 'toggleNavbar'}}>
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
</div>
{{!-- Sidebar --}}
{{#if navbarShow}}

<div class="col-md-3 sidebar-container" style='float:right'>
    <div class="sidebar">
        <a class="button-wrapper" href="/games">
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button">
                <i class="fa fa-gamepad" aria-hidden="true"></i>
            </button>
            <span class="popup-text">Manage Games</span>
        </a>
        <a class="button-wrapper" href="/users">
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button">
                <i class="fa fa-users" aria-hidden="true"></i>
            </button>
            <span class="popup-text">Manage Users</span>
        </a>
        <a class="button-wrapper" href="/usage">
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </button>
            <span class="popup-text">Game Activity</span>
        </a>
        <div class="button-wrapper" href="/games">
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button" {{action 'submitReset'}}>
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
            <span class="popup-text">Reboot Machine</span>
        </div>
        <div class="button-wrapper" href="/games" data-toggle='modal' data-target='#sshmodal'>
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button">
                <i class="fa fa-terminal" aria-hidden="true"></i>
            </button>
            <span class="popup-text">SSH Instructions</span>
        </div>
    </div>
</div>
{{/if}}
{{misc-modals}}
