
    {{navbar-component}}
    {{#if deactivate}}
      Deactivated
    {{else}}
      Not Deactivate
    {{/if}}

    <button {{action "showModal" "my-modal"}}>my-modal</button>

    {{!-- {{#each model.active as |rom|}}
      <div class="modal fade" id="{{rom.title}}modal" tabindex="-1" role="dialog" aria-labelledby="{{rom.title}}label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="{{rom.title}}label">{{rom.prettytitle}}</h3>
              </div>
              <div class="modal-body">
                <div class="user-container">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {{/each}}

    {{rom-modal model=model.inactive}}
    {{misc-modals}} --}}

{{outlet 'modal'}}
