    <div class="navbar">
      <div class="navbar-left">
        <button class="btn btn-block btn-lg btn-primary dashboard-button-large" id='reset'><i class="fa fa-refresh" aria-hidden="true"></i></button>
        {{!-- TODO: Needs to be hooked up to API call --}}
        <button class="btn btn-block btn-lg btn-primary dashboard-button-large" data-toggle='modal' data-target='#sshmodal'><i class="fa fa-terminal" aria-hidden="true" ></i></button>
      </div>
      <div class="navbar-center">
        <h1> SMU Arcade Machine </h1>
      </div>
      <div class="navbar-right">
        <button class="btn btn-block btn-lg btn-primary dashboard-button-small"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        <div class="user-text"> {{!-- {{usertype}}: {{fullName}}  --}} Admin : Katie Krummeck</div>
      </div>
    </div>
    <div style="height:100%; width:100%">
    <div class="col-md-9">
    	<h2 style='text-align:center;color:#2d3b48;'> Active Games </h2>
		<ul class='rom-list'>
			{{#each model.active as |rom|}}
				<li class='rom' data-toggle='modal' data-target='{{rom.title}}modal' id='{{rom.title}}'>
        {{rom.prettytitle}}
        <img class='rom-cover' src='{{rom.image}}' alt=''> {{rom-coverimg rom.title rom.console}}
        </li>
			{{/each}}

		</ul>
      </div>

    {{!-- Sidebar --}}
    <div class="col-md-3 sidebar-container">
      <div class="sidebar">
        <div class="button-wrapper" data-toggle="modal" data-target="#addgame">
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button" >
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <span class="popup-text">Activate Games</span>
        </div>
        <div class="button-wrapper" data-toggle="modal" data-target="#manageusers">
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button" >
                <i class="fa fa-users" aria-hidden="true"></i>
            </button>
            <span class="popup-text">Manage Users</span>
        </div>
        <div class="button-wrapper" data-toggle="modal" data-target="#">
            <button class="btn btn-block btn-lg btn-primary dashboard-button-large sidebar-button" >
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </button>
            <span class="popup-text">View Statistics</span>
        </div>
      </div>
    </div>
    </div>

    {{#each model.active as |rom|}}
      <div class="modal fade" id="{{rom.title}}modal" tabindex="-1" role="dialog" aria-labelledby="{{rom.title}}label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="{{rom.title}}label">{{rom.prettytitle}}</h3>
                {{!-- TODO: Display ROM content --}}
              </div>
              <div class="modal-body">
                <div class="user-container">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {{/each}}

    {{!-- Adding game modal --}}
    {{rom-modal model=model.inactive}}

    {{!-- Adding User Modal --}}
    <div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="adduserlabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="adduserlabel">Add New User</h3>
          </div>
          <div class="modal-body">
            <div class="user-container">
              <form>
                <span class="input input--kaede">
                  <input class="input__field input__field--kaede" type="text" id="input-35" />
                  <label class="input__label input__label--kaede" for="input-35">
                    <span class="input__label-content input__label-content--kaede">Enter an SMU Email</span>
                  </label>
                </span>
                <button>Add another user </button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add Users</button>
          </div>
        </div>
      </div>
    </div>

    {{!-- SSH Instructions --}}
    {{!-- TODO --}}
    <div class="modal fade" id="sshmodal" tabindex="-1" role="dialog" aria-labelledby="sshlabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="sshlabel">SSH Instructions</h3>
          </div>
          <div class="modal-body">
            <div class="user-container">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- User Management Modal -->
    <div class="modal fade" id="manageusers" tabindex="-1" role="dialog" aria-labelledby="manageuserslabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="manageuserslabel">Manage Users</h3>
          </div>
          <div class="modal-body">
            <div class="user-container">
              <div class="user admin"> Rickey <br> <i class="fa fa-user" aria-hidden="true"></i> </div>
              <div class="user tech"> Parker <br> <i class="fa fa-user" aria-hidden="true"></i> </div>
              <div class="user tech"> Edward <br> <i class="fa fa-user" aria-hidden="true"></i></div>
              <div class="user tech"> Sam  <br><i class="fa fa-user" aria-hidden="true"></i></div>
              <div class="user tech" id='adduserbtn' data-dismiss='modal' data-toggle='modal' data-target='adduser'><i class="fa fa-plus" aria-hidden="true"></i></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add New User</button>
          </div>
        </div>
      </div>
    </div>

    {{!-- {{rom-component roms=model}} --}}

{{outlet}}
